{% extends 'MyApp/base.html' %}
{% load static %}

{% block title %}
<title>Experience Page</title>
{% endblock title %}

{% block body %}

<div class="container">

    <div class="container border rounded p-1 text-center bg-primary n-3">
        <h1 class="text-light">Experience Details</h1>
    </div>

    <div class="container my-5">
        <div class="row mb-3 border-bottom p-3">
            <h5 class="px-0">Knowledgework Global LTD</h5>
            I am working as a software developer in KGL LTD and i have 6 month of Experience in python scripting and perl scripting. 
            <span class="px-0 mt-3">
                <a href="" style="text-decoration:none;" target="blank">Joining Letter</a>
                <a href="" style="text-decoration:none;padding: 15px" target="blank">Releiving Letter</a>
            </span>
        </div>
    </div>
</div>
{% endblock body %}

