{% extends 'MyApp/base.html' %}
{% load static %}

{% block title %}
<title>Qualification Page</title>
{% endblock title %}


{% block body %}

<!-- main container -->
<div class="container">

    <div class="container border rounded p-1 text-center bg-primary m-3">
        <h1 class='text-light'>Qualification Details</h1>
    </div>

    <div class="container mt-5">
        <table class='table'>
            <thead>
                <tr>
                    <th scope="col">Study</th>
                    <th scope="col">Year</th>
                    <th scope="col">Marks</th>
                    <th scope="col">University</th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in qualification.items %}
                <tr>
                    {% for k, v in value.items %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
