<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNJ7r3QRu8TocMzrdNxC1kJavlfpPSrxjyNnzeuw7uMA&s">
    <link rel="stylesheet" href="{% static '/MyApp/css/navbar.css' %}" />
    <title>Service Page</title>
</head>
<body>
    <header>
        <nav class="navbar">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'service' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
          </ul>
        </nav>
      </header>
    <h1>This is service page!</h1>
    
</body>
</html>