/* .add{
    width: 30%;
    float: right;
    margin-right:40%;
} */

.container{
    /* width: 50%; */
    margin-top: 100px;
}

.list-group{
    margin-top: 30px;
}

label, li, input{
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(20, 3, 3, 0.988);
}

body::-webkit-scrollbar{
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(red, blue, green);
    border-radius: 10px;
}

