{% extends 'PollApp/base.html' %}
{% load static %}
{% block title %}record{% endblock title %}

{% block body %}

<body>
    

        <form method="post" autocomplete="off">
            {% csrf_token %}

            <div class="container border rounded p-1 text-center bg-primary m-3 w-auto">
                <h1 class="text-light">Add Poll Record</h1>
            </div>

            {% for fm in form %}
                <div class="fw-bolder col-12 px-3 my-4">
                    {{ fm.label_tag }} 
                    <span>{{ fm }}</span>
                 
                    <span style="color: red;">{{fm.errors}}</span>
                </div>
            {% endfor %}
        
        <button type="submit" class="btn btn-primary mx-3">Save</button>

           &nbsp;

            <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
</body>

{% endblock body %}

