{% extends 'PollApp/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
            <h2 class='text-center pt-3 text-success pb-3'>Login Now</h2>
            <!-- form start -->
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" name="password" class="form-control" placeholder="Password" id="password" onclick="ShowPass()">
                    <span class="input-group-text"><i class="bi bi-eye-slash-fill" id="eyeicon"></i></span>
                </div>                    

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Login Now</button>

                    <p class="text-center mt-2">
                        Register Now for Free by clicking ? <a href="{% url 'register' %}"> Register Now </a>
                    </p>
                </div>
            </form>
            <!-- form close -->
        </div>
    </div>
</div>
{% endblock body %}
