<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'service' %}">services</a>
        <a href="{% url 'contact' %}">contact</a>
        <a href="{% url 'about' %}">about</a>
    </div>

    <h1>This is About Page</h1>
    
</body>
</html>